{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS static file --> 
    <link rel="stylesheet" type='text/css' href = "{% static 'control_system/main.css' %}">
    
    <!-- Google Oswald font for our nav-bar brand name -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald:400'>
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,600;0,700;1,300&display=swap">
    <!-- Browser FavIcon -->
    <link rel="shortcut icon" type="image/svg" href="{% static 'control_system/images/Logo5.svg' %}">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"crossorigin="anonymous">

    <!-- Title logic for the pages -->
    {% if algorithm %}
        <title>Control System - {{ name }}</title>
    {% else %}
        <title>Control System</title>
    {% endif %}

    <!-- Block for additional custom styles unique to each extending page -->
    {% block additional_styles %}{% endblock %}
    
</head>
<body>
    <header>
        <!--Navigationa bar starts here-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <!-- Brand! -->
                <a class="navbar-brand" href="{% url 'control-system-home' %}"><img src="{% static 'control_system/images/Logo5.svg' %}" alt="logo" height="40" width = auto>
                    <span class="brand-text">BIM4Temp<sup class="text-muted">MES</sup></span>
                </a>
                <!-- Toggler/collapsible Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'control-system-home' %}">Home<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item"> <!-- non-drop is the arbitrary subsclass we are providing for custom CSS styling -->
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Support</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">ShareBIM-CDE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'control-system-about' %}">About</a>
                        </li>
                    
                        <!-- Nav Dropdown user Icon (user) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="usernavbardrop" data-toggle="dropdown">
                                <i class="fas fa-user"></i>
                            </a>
                            <!-- Dropdown links -->
                            <div class="dropdown-menu dropdown-menu-right">
                                
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Sign In</a>
                                <a class="dropdown-item" href="{% url 'register' %}">Create Account</a>
                                {% endif %}
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Javascript to automate the user drop down menu on hover -->
    <script type="text/javascript">
        $(document).on('click', '.nav-item', function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
    </script>

    <script type="text/javascript">
        $(document).on('hover', '.dropdown-item', function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
    </script>

</body>
</html>